<div class="container">
  <h2 style="margin:1em 0" class="page-header">Login</h2>

  <flash-messages></flash-messages>
  
  <form class="m-4" (submit)="onLoginSubmit()">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="username">Username</span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="username" name="username">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="password">Password</span>
                </div>
                <input type="password" class="form-control" [(ngModel)]="password" name="password">
              </div>
      <button type="submit" class="btn btn-primary float-right">Login</button>
    </form>
</div>
