<app-carousel></app-carousel>
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">MEAN Stack App</h1>
        <p>Welcome to app page</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Express.js</h2>
          <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
          <p><a class="btn btn-secondary" href="https://expressjs.com/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Angular Cli</h2>
          <p>Angular CLI stands for Angular Command Line Interface. As the name implies, it is a command line tool for creating angular apps.</p>
          <p><a class="btn btn-secondary" href="https://cli.angular.io/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Passport</h2>
          <p>Authenticating requests is as simple as calling passport.authenticate() and specifying which strategy to employ.</p>
          <p><a class="btn btn-secondary" href="http://www.passportjs.org/docs/authenticate/" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>
